<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href=" {% static  'register.css' %} ">
    <link rel='stylesheet' href=" {% static  'forms.css' %} ">
</head>


<body>


    <section class="login-page">

        <center>
            <div class='form-box'>

                <img src="{% static 'profile.png' %}">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button class="submit button-normal green" >SIGN IN</button>
                    </div>
                    <legend class="text-muted ml-2">   
                        <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
                    </small>
                </form>
            
                   <div class="form-footer">

                   
                        <p style="color:white;">Don't have an account?</p>
                        <a href="{% url 'signup' %}">SIGN UP</a>
                        </div>
                      
                    </div>
                 
                </center>
                    </body>
                   
  




    </section>
</body>

</html>
{% endblock %}