<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href=" {% static  'register.css' %} ">
</head>


<body>



    <div class="jumbotron JumboHeaderImg">
        <div class="container-lg"></div>
        <center>
            <div class='form-box'>

                <img src="{% static 'profile.png' %}">
                <form method='POST'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <button class='signup-button' type='submit'>SIGN IN</button>
                    </div>
                    <legend class="text-muted ml-2">
                        <a href="{% url 'password_reset' %}"> Forgot Your Password?</a>
                    </small>
                </form>
                <div>
                    <body>
                        <p style="color:black;">Don't have an account?</p>
                      </body>
                    <a href="{% url 'signup' %}" style="color:#2ECC71;font-size:20px;">SIGN UP</a>
        </center>

    </div>



</body>

</html>
{% endblock %}