<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href=" {% static  'register.css' %} ">
</head>

<body>



    <div class="jumbotron">
        <center>
            <h2>You have been logged out</h2>
            <a href="{% url 'login' %}" style="color:#2ECC71;font-size:20px;">Log In Again</a>
        </center>
    </div>



</body>

</html>
{% endblock %}