
<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href=" {% static  'register.css' %} ">
</head>
<body>
    {% load staticfiles %}

    <script src=" {% static 'register.js' %} "></script>
    <center>
    <div class='form-box'>
    {% load staticfiles %}
    <img src="{% static 'profile.png' %}">
        <form method='POST'>
            {% csrf_token %}  
                {{ form.as_p }}
            <div>
                <button class='signup-button' type='submit'>SIGN UP</button>
            </div>
        </form>
    <div>
        <p>Already have an account?</p><a href="#" style="color:#FFFFF;font-size:14px;">SIGN IN</a>
    <center>
</body>
</html>
