<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    
</head>

<body>



    <div class="jumbotron">
        <center>
        <h1>Who Are You?</h1>
        <br>
        <br>
           <a href="{% url 'register_parent' %}">A Parent</a>
           <br>
           <a href="{% url 'register_teacher' %}">A Teacher</a>
        </center>
    </div>



</body>

</html>
{% endblock %}