<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEVELOPERS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dev.css' %}">

</head>

<body>
    <div class="dev-section">

        <h1><b>DEVELOPERS</b></h1>
        <span class = "border"></span>
    
        <div class="ps">
            <a href="#p1"><img src="/media/first/p1.jpg" alt=""  ></a>
            <a href="#p2"><img src="/media/first/p2.jpg" alt=""></a>
            <a href="#p3"><img src="/media/first/p3.jpg" alt="" ></a>
            <a href="#p4"><img src="/media/first/p4.jpg" alt="" ></a>
        </div>
        <div class="section" id="p1">
            <span class="name">Sabin Thapa</span>
            <span class="border"></span>
            <p>
                Hello, I am Sabin, one of the developers of this website-Kinder. I am an undergraduate studying B.E. in Computer Engineering
                at Kathmandu University. I have keen interests in building webapps and websites. If you need any assistance, here are my contact details:
                <br>
                <b>Gmail:</b> sabint017@gmail.com
                <br>
                <b>Mobile</b> 9845977921

            </p>
        </div>
        <div class="section" id="p2">
            <span class="name">Sajan Mahat</span>
            <span class="border"></span>
            <p>
                OK!

            </p>
        </div><div class="section" id="p3">
            <span class="name">Nripesh Karmacharya</span>
            <span class="border"></span>
            <p>
                GOOD!

            </p>
        </div><div class="section" id="p4">
            <span class="name">Rojan Uprety</span>
            <span class="border"></span>
            <p>
                BAD!

            </p>
        </div>


    </div>
</body>

</html>
{% endblock %}





</body>

</html>