{% extends "base.html" %}
{% block base1 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



<link rel='stylesheet' href=" {% static  'temp.css' %} ">
                        
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body> 
    <div  id="main-wrapper" style="background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(101,94,94,1) 0%, rgba(0,212,255,1) 100%);">
<div class="container bootstrap snippet">
    <section id="team" class="white-bg padding-top-bottom">
		<div class="container bootstrap snippet">
			<h1 class="section-title text-center page-title">Meet our team</h1>
			<p class="section-description text-center " style="color: #fff;">We are a small team with great skills. </p>	
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb  fade-right in">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/media/first/p1.png" alt="">
					<h4>Sabin Thapa</h4>
					<p class="title">Senior Developer &amp; Founder</p>
				</div>
				<div class="col-sm-7">
					<div class="details">
                        <p>Hi! I am Sabin.</p>
                        <p> I am a Computer Engineering student based at Kathmandu University, Dhulikhel.</p>
                        <p> I love building websites and web apps.</p>
                        <p> Feel free to contact if you find me of assistance.  </p>
                        <div class="social-links">
                            <ul class="social-content">
                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			
			<div class="row member-content ">
				<div class="col-sm-3 col-sm-push-8 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/media/first/p2.png" alt="" >
					<h4>Sajan Mahat</h4>
					<p class="title">Senior Developer &amp; Founder</p>
				</div>
				<div class="col-sm-7 col-sm-pull-2">
					<div class="details">
                        <p>Hi! My name is Sajan Mahat. I am currently an undergraduate at Kathmandu University , Dhulikhel, Nepal. I expect to graduate by 2022. </p>
                        <p>I am really energetic when it comes to programming, developing or simply using computers. I am a data science enthusiast and hope to contribute something valuable in this field!</p>
                        <div class="social-links">
                            <ul class="social-content">
                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle" src="/media/first/p3.png" alt="" >
					<h4>Nripesh Karmacharya</h4>
					<p class="title">Senior Developer &amp; Founder</p>
				</div>
				<div class="col-sm-7   ">
					<div class="details">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<div class="social-links">
                            <ul class="social-content">
                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
					</div>
				</div>
            </div>
            
            <div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-circle"src="/media/first/p4.png" alt="" >
					<h4>Rojan Uprety</h4>
					<p class="title">Senior Developer &amp; Founder</p>
				</div>
				<div class="col-sm-7   ">
					<div class="details">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<div class="social-links">
                            <ul class="social-content">
                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>    
</div>         

</div>

               <!-- BANNER SECTION START
            ============================================= -->
            <div class="banner small wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 pull-left wow fadeInUp">
                            <h3>Want us to build a website for you?</h3>
                            
                        </div>

                        <div class="col-sm-4 wow fadeInUp">
                            <div class="button-normal white pull-right">
                                <a href="#" class="no-margin" style="color: #fff; padding: 0px; font-size: 18px;">Contact us now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <!-- BANNER SECTION END -->



                   <!-- TESTIMONIAL SECTION START
            ============================================= -->
            <div class="testimonial with-bg-image"  >
                <div class="container">
                 
                </div>
                <div class="overlay dark"></div>
            </div>
            <!-- TESTIMONIAL SECTION END -->
            

            

        </section>
        <!-- CONTENT END -->



        


        <!-- COPYRIGHT START
        ============================================= -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <!-- Copyright Text Start -->
                    <div class="copyright-text col-md-6">
                        <p>Copyright 2020 |  All Rights Reserved | KINDER </p>
                    </div>
                    <!-- Copyright Text End -->

                    <!-- Social LInks Start -->
                    <div class="social-links col-md-6">
                        <ul class="no-padding">
                            <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://rss.com" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <!-- Social Links End -->
                </div>
            </div>
        </div>
        <!-- COPYRIGHT END -->




        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
{% endblock %}