{% extends "base1.html" %}
{% block base2 %}
<div class="jumbotron">
    <h1>home</h1>
    <br><br>
    {% if user.is_authenticated %}
    {% if '{{user.username}}'   ==  'andim' %}
        <a class='btn btn-secondary' href="{% url 'post-create' %}">Create Post</a>
    {% endif %}
    {% endif %}
    <br>
    {% for post in posts %}
    <div>
        <div><a href="{% url 'post-detail' post.id %}">
                <h1>{{post.title}}</h1>
            </a>
            <p>{{ post.date_posted}}</p>
        </div>
        <h2>{{post.author}}</h2>
        <p>{{post.content}}</p>
        <br>

    </div>
    {% endfor %}
    <a class='btn btn-outline-danger' href="{% url 'logout' %}">Log Out</a>


</div>
{% endblock %}