<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'first.css' %}">

</head>

<body>

    <header>
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="lft col-md-6 col-sm-12">
                        <p class="banner-text">DEAR PRINCIPALS, STAFFS, TEACHERS & PARENTS</p>

                        <p style="font-size: 20px;">This is the Right Time for your Child Monitoring to go <b>Completely Digital</b></p>
                        <br>
                        <button class="btn btn-warning px=10 py=5">Contact Us Now</button>
                        <br><br>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                              <div class="spinner-grow text-secondary"></div>
                              <div class="spinner-grow text-dark"></div>
                              <div class="spinner-grow text-light"></div>
                               <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                               <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <br>
                        <br><br><br><br><br><br><br><br>
                        <img src="/media/first/1.png" class="baby" alt="kids">
                    </div>
                </div>
            </div>

            <img src="/media/first/wave.png" class="bottom-img">
      </section>
    </header>
    <main>

    </main>

    <footer>


    </footer>

</body>

</html>
{% endblock %}
