<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="{% static 'firsttt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="lft col-md-6 col-sm-12">
                        <p class="banner-text wow fadeInDown">DEAR PRINCIPALS, STAFFS, TEACHERS & PARENTS</p>

                        <p class="wow fadeInDown" data-wow-delay="0.5s" style="font-size: 20px;">This is the Right Time for your Child Monitoring to go <b>Completely Digital</b></p>
                        <br>
                        <div>

                              <a class="wow fadeInLeft btn btn-warning" data-wow-delay="1s" href = "#contacts">Contact Us Now </a> </div>

                        <br><br>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                              <div class="spinner-grow text-secondary"></div>
                              <div class="spinner-grow text-dark"></div>
                              <div class="spinner-grow text-light"></div>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <br>
                        <br><br><br><br><br><br><br><br>
                        <img src="/media/first/1.png" class="baby" alt="kids">
                    </div>
                </div>
            </div>

            <img src="/media/first/wave.png" class="bottom-img">
      </section>
    </header>
    <main>
    <section id="whatitis" style="margin-top: 150px; margin-right: 40px;">
      <div class="row">
        <div class="text-center col-lg-6" >
          <img class="wow fadeInLeft" src="/media/first/laptop.png">
        </div>
        <div class="col-lg-6 about_kinder" style="margin-top: 50px">
          <div class="wow slideInUp">
            <h3>WHAT IS</h3>
            <h1>KINDER?</h1><br>
            <p>"Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
             deserunt mollit anim id est laborum."</p>
          </div>
           <br>

          <ul style="list-style-type: none">
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.2s">
                <div class="icon-box col-lg-2"><img src="/media/first/2.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Point1</h4>
                <p>About point 1 in brief</p>
              </div>
              </div>
            </li>
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.4s">
                <div class="icon-box col-lg-2"><img src="/media/first/2.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Point1</h4>
                <p>About point 1 in brief</p>
              </div>
              </div>
            </li>
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.6s">
                <div class="icon-box col-lg-2"><img src="/media/first/2.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Point1</h4>
                <p>About point 1 in brief</p>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
<hr>
    </section>
    <section id="services" style="margin-left: 60px; margin-right: 60px;">
         <div class="features_class my-3 py-5 text-center" >
            <div class="row mb-5">
              <div class="col">
                <h1>Our Features</h1>
                <p class="mt-3">
                    OUR BEST SERVICES FOR YOUR KIDS
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Feature1</h3>
                    <h5>about feature</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInLeft">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Feature1</h3>
                    <h5>about feature</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInRight">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Feature1</h3>
                    <h5>about feature</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Feature1</h3>
                    <h5>about feature</h5>
                    <p>"Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                  </div>
                </div>
              </div>

            </div>
              <br><br><br>
              <a class="btn btn-outline-info wow fadeInDown" href="{% url 'services' %}">Click Here For More Details</a>
         </div>

    </section>
    <hr>
    <section id="clients">
      <div class="fadeIn wow" style="margin-top: 100px; margin-left: 350px; margin-right: 250px;">
        <h3>WHAT OUR</h3>
        <h3>CLIENTS SAY</h3><br>
      </div>




          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-top: -50px;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>

            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
              <div class="row">

                <div class="wow fadeInUp carousel-caption d-none d-md-block col-lg-5">
                  <h4>Nripesh Karmacharya</h4>
                  <i><p style="margin-left: 20px;">- Parent</i></p>
                  <i><p>Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                         deserunt mollit anim id est laborum.</p></i>
                </div>
                   <div class="wow slideInRight img-area col-lg-7" style="margin-left: 1200px;" >
                    <img src="/media/first/p3.png">
                  </div>
              </div>
              </div>

              <div class="carousel-item">
              <div class="row">

                <div class="carousel-caption d-none d-md-block col-lg-5">
                  <h4>Rojan Uprety</h4>
                  <i><p style="margin-left: 20px;">- Teacher</i></p>
                  <i><p>Lorem ipsum dolor sit amet, consectetur  dolud exerciture dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                         deserunt mollit anim id est laborum.</p></i>
                </div>
                   <div class="img-area col-lg-7" style="margin-left: 1200px;" >
                    <img src="/media/first/p4.png">
                  </div>
              </div>
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>





    </section>
    <hr>

  <section id="contacts" class="single-wrapper">
      <!-- Page Title -->
      <div class="grey-background wow fadeIn">
          <div class="container">
              <div class="heading-block page-title wow fadeIn">
                  <h1>CONTACT US</h1>
              </div>
          </div>
      </div>
  <div class="contact-section">
      <div class="container">
          <div class="row">

              <div class="contact-details col-lg-4 col-md-4">
                  <p class="wow fadeIn">Feel free to call us directly or simply complete our form and we will follow up with you.</p>
                    <br>
                  <div class="visit-us wow fadeIn" data-wow-delay="0.3s">
                      <div class="contact-icon">
                          <span class="icon icon-pin-1"></span>
                      </div>
                      <div class="contact-content">
                          <h3>Visit us</h3>
                          <p>Kathmandu University</p>
                          <p>Dhulikhel,Kavre</p>
                          <p>Nepal</p>
                      </div>
                  </div>
                    <br>
                  <div class="contact-us wow fadeIn" data-wow-delay="0.6s">
                      <div class="contact-icon">
                          <span class="icon icon-hand-right"></span>
                      </div>
                      <div class="contact-content">
                          <h3>Contact us</h3>
                          <p>98010101010</p>
                          <p>hyakkers@gmail.com</p>
                          <p>www.kinder.com</p>
                      </div>
                  </div>
              </div>

              <div class="contact-form col-lg-8 col-md-8 wow fadeInRight">
                  <form method= 'POST'>
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="submit button-normal green">Send</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </section>
  </main>
  <footer>
    <div class="footer">
      <footer class="text-muted" style="background-color:black; color: white;">

            <p class="float-right">

            </p>
            <center><p style="padding-top: 20px;">Copyright &copy; <script>document.write(new Date().getFullYear()); </script> | All Rights Reserved | KINDER</p></center>

      </footer>
  </div>
</footer>

<a href="#" class="back-to-top" style="display: inline;">
 <i class="fa fa-chevron-circle-up" style="font-size:48px;color:red"></i>
</a>



<script>
  jQuery(document).ready(function() {
   var offset = 250;
   var duration = 300;
   jQuery(window).scroll(function() {
   if (jQuery(this).scrollTop() > offset) {
   jQuery('.back-to-top').fadeIn(duration);
   } else {
   jQuery('.back-to-top').fadeOut(duration);
   }
   });
   jQuery('.back-to-top').click(function(event) {
  file:///K|/My%20Udemy%20Courses/Start%20your%20own%20web%20design%20business/back%20to%20top.txt[1/16/2017 3:49:46 PM]
   event.preventDefault();
   jQuery('html, body').animate({scrollTop: 0}, duration);
   return false;
   })
   });
</script>
</body>



</html>
{% endblock %}
