<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'firsttt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <header>
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="lft col-lg-6 col-md-6 col-sm-12">
                        <p class="banner-text wow fadeInDown">DEAR PRINCIPALS, STAFFS, TEACHERS & PARENTS</p>

                        <p class="wow fadeInDown" data-wow-delay="0.5s" style="font-size: 20px;">This is the Right Time for your Child Monitoring to go <b>Completely Digital</b></p>
                        <br>
                        <div>

                              <a class="wow fadeInLeft btn btn-warning scroll" data-wow-delay="1s" href = "#contacts">Contact Us Now </a> </div>

                        <br><br>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                              <div class="spinner-grow text-secondary"></div>
                              <div class="spinner-grow text-dark"></div>
                              <div class="spinner-grow text-light"></div>
                              <div class="spinner-grow text-primary"></div>
                              <div class="spinner-grow text-success"></div>
                              <div class="spinner-grow text-info"></div>
                              <div class="spinner-grow text-warning"></div>
                              <div class="spinner-grow text-danger"></div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <br>
                        <br><br><br><br><br><br><br><br>
                        <img src="/media/first/1.png" class="baby" alt="kids">
                    </div>
                </div>
            </div>

            <img src="/media/first/wave.png" class="bottom-img">
      </section>
    </header>
    <main>
    <section id="whatitis" style="margin-top: 150px; margin-right: 40px;">
      <div class="row">
        <div class="text-center col-lg-6" >
          <img class="wow fadeInLeft" src="/media/first/laptop1.png">
        </div>
        <div class="col-lg-6 about_kinder" style="margin-top: 50px">
          <div class="wow slideInUp">
            <h3>WHAT IS</h3>
            <h1>KINDER?</h1><br>
            <p style="font-size:18px;">"‘Kinder is a unique approach for creating a school management system for children which
             we believe helps their teachers and parents interact with each other to create better understanding between them. "</p>
          </div>
           <br>

          <ul style="list-style-type: none">
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.2s">
                <div class="icon-box col-lg-2"><img src="/media/first/images.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Digital Monitoring</h4>
                <p>With just an access to the internet, parents can digitally monitor their kids via Kinder.</p>
              </div>
              </div>
            </li>
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.4s">
                <div class="icon-box col-lg-2"><img src="/media/first/images.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Real time Updates</h4>
                <p>Parents will be updated in real time about their kids with the information provided by the teachers.</p>
              </div>
              </div>
            </li>
            <li>
              <div class="row wow slideInUp" data-wow-delay="0.6s">
                <div class="icon-box col-lg-2"><img src="/media/first/images.png" style="width: 80%; height: 80%"></div>
                <div class="col-lg-10">
                <h4>Smart System</h4>
                <p>Features like smart attendance, smart routine management, results and posts make this unique.</p>
              </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </section>
    <section id="services" style="margin-left: 60px; margin-right: 60px;">
         <div class="features_class my-3 py-5 text-center" >
            <div class="row mb-5">
              <div class="col">
                <h1>Our Features</h1>
                <p class="mt-3">
                    OUR BEST SERVICES FOR YOUR KIDS
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Notices</h3>
                     <p>"There is a notice board panel on the news feed where the class teacher updates notices and the parents are made aware of any upcoming events and holidays."</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInLeft">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>News Feed</h3>
                    <p>"On the middle of the homepage, there’s a constantly updating list of stories and posts by the class teacher about the kids, their daily activities and any kind of program."</p>

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInRight">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Smart Attendance</h3>
                    <p>"Attendance of students is taken online by the class teacher and is updated in real-time so that the parents can check upon their children right away."</p>                   

                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                  <div class="card-body">
                    <img src="/media/first/4.png" alt="no" class="img-fluid rounded-circle w-50 mb-3">
                    <h3>Gradesheets</h3>
                    <p>"The academic status together with progression graphs of the children are updated by the teachers and can be seen and analyzed by the parents."</p>

                  </div>
                </div>
              </div>

            </div>
              <br><br><br>
              <a class="btn btn-outline-info wow fadeInDown" href="{% url 'services' %}">Click Here For More Details</a>
         </div>

    </section>

    <section id="clients">
      <div class="fadeIn wow" style="margin-top: 100px; margin-left: 350px; margin-right: 250px;">
        <h3>WHAT OUR <br> CLIENTS SAY</h3>
        <br>
      </div>




          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="margin-top: -50px;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>

            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
              <div class="row">

                <div class="wow fadeInUp carousel-caption d-none d-md-block col-lg-5">
                  <h4>Ram Uprety</h4>
                  <i><p style="margin-left: 20px;">- Parent</i></p>
                  <i><p>Getting to check on our child’s progress, studies, attendance and their school activities easily from our home/office online has 
                  been a lot of help for me and those parents who can not give their whole time to their kids. I can now easily look upon my child's school status without worrying.
                  I really appreciate this work. </p></i>
                </div>
                   <div class="wow slideInRight img-area col-lg-7" style="margin-left: 1200px;" >
                    <img src="/media/first/parent1.png" style="width:350px; height:350px;">
                  </div>
              </div>
              </div>

              <div class="carousel-item">
              <div class="row">

                <div class="carousel-caption d-none d-md-block col-lg-5">
                  <h4>Sita Karmacharya</h4>
                  <i><p style="margin-left: 20px;">- Teacher</i></p>
                  <i><p> The teachers surely have got an easy way to inform the parents about their child's day-going, prgress and problems if any.
                  Features like giving out notices for events, posting daily activities in the news feed, online attendance, routine managements, 
                  progress ratios of children have helped us teachers to convince the parents about our qualities.
                  </p></i>
                </div>
                   <div class="img-area col-lg-7" style="margin-left: 1200px;" >
                    <img src="/media/first/teacher.png" style="width:400px; height:350px;">
                  </div>
              </div>
              </div>

            </div>
            <br>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>





    </section>


  <section id="contacts" class="single-wrapper">
      <!-- Page Title -->
      <div class="grey-background wow fadeIn">
          <div class="container">
              <div class="heading-block page-title wow fadeIn">
                  <h1 id="title">CONTACT US</h1>
              </div>
          </div>
      </div>
  <div class="contact-section">
      <div class="container">
          <div class="row">

              <div class="contact-details col-lg-2 col-md-2">
                  <div class="map wow fadeInLeft" style="margin-left: -60px; padding-top: 20px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.160409935585!2d85.53645301506015!3d27.619548182828314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb092082d99e3b%3A0xe509dafa47685dba!2sKathmandu%20University!5e0!3m2!1sen!2snp!4v1581171128689!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                  </div>
              </div>
              <div class="col-lg-3"></div>
              <div class="contact-form col-lg-7 col-md-7 wow fadeInRight">
                  <form method= 'POST'>
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-outline-info">Send</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </section>
  </main>
  <footer>
    <div class="footer">
      <footer class="text-muted" style="background-color:black; color: white;">

            <p class="float-right">

            </p>
            <center><p style="padding-top: 20px;">Copyright &copy; <script>document.write(new Date().getFullYear()); </script> | All Rights Reserved | KINDER</p></center>

      </footer>
  </div>
</footer>

<a href="#" class="back-to-top" style="display: inline;">
 <i class="fa fa-chevron-circle-up"></i>
</a>

<script type="text/javascript" src="{% static 'index.js' %}"></script>

</body>



</html>
{% endblock %}
