<div class="jumbotron">
    <h1> <a href="{% url 'home' %}">home</a>
    </h1>
    <br><br>
    <div>
        <div>
            <h2>{{object.title}}</h2>
            <h1>{{object.author}}</h1>

            <p>{{ object.date_posted}}</p>
        </div>

        <p>{{object.content}}</p>
        <br>
        {% ifequal '{{user.usertype}}' 'teacher'%}
            <a href="{% url 'post-update' object.id %}">Update Post</a>
            <a href="{% url 'post-delete' object.id %}">Delete Post</a>
        {% endifequal %}


    </div>


</div>