<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>




    </header>
    <h1 style="position: absolute;margin-left: 590px;margin-top: 10px;">Services</h1>
    <h4 style="position: absolute;margin-left: 480px;margin-top: 60px;">"Our best services for your children"</h4>

    <main role="main">






        <div class="jumbotron" style="width:device-width;height: 275px;margin-left: 100px;margin-right: 100px;margin-top: 110px;">
          <h3 style="margin-top: -55px;margin-left: 10px;" >Smart Attendance</h3>
          <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:450px;height: 400px;margin-top: 0px;margin-left: -28px;float: left;">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000">
                <img src="media\first\attendance1.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="2000">
                <img src="media\first\attendance2.PNG" class="d-block w-100" alt="...">
              </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <p style="margin-left: 450px;margin-top: 20px;margin-right: 20px;">Attendance of students is taken online by the class teacher and is updated in real-time to the
            parents. Total number of absent days is counted.
            </p>
        </div>



          <div class="jumbotron" style="width:device-width;height: 300px;margin-left: 100px;margin-right: 100px;margin-top: -16px;">
            <h3 style="margin-top: -55px;float: right;margin-right: 100px;" >Digital Monitoring</h3>
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:450px;height: 400px;margin-top: -15px;float: right;margin-bottom: 20px;margin-right: -28px;">
              <div class="carousel-inner">
                <div class="carousel-item active" data-interval="10000">
                  <img src="media\first\digitalmoni1.PNG" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-interval="2000">
                  <img src="media\first\digitalmoni1.PNG" class="d-block w-100" alt="...">
                </div>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <p style="position: absolute;margin-right: 560px;margin-left: 0px;">With just an access to the internet, parents can digitally monitor their kids via Kinder. Through News Feed parents can see their childrens activities/progress.</p>
            </div>

            <div class="jumbotron" style="width:device-width;height: 300px;margin-left: 100px;margin-right: 100px;margin-top: -16px;">
              <h3 style="margin-top: -55px;margin-left: 10px;" >Real Time Update</h3>
              <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:450px;height: 400px;margin-top: 0px;margin-left: -28px;float: left;">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="10000">
                    <img src="media\first\realtime1.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="media\first\realtime2.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="media\first\realtime3.PNG" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-interval="2000">
                    <img src="media\first\realtime4.PNG" class="d-block w-100" alt="...">
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <p style="position: absolute;margin-left: 450px; margin-right: 80px;">Parents will be updated in real time about their kids with the information provided by the teachers. Information regarding important things/events can be viewed on Notice Board.
                </p>
            </div>



              <div class="jumbotron" style="width:device-width;height: 300px;margin-left: 100px;margin-right: 100px;margin-top: -16px;margin-bottom: -800px;">
                <h3 style="margin-top: -55px;float: right;margin-right: 260px;" >Result</h3>
            <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel" style="width:450px;height: 400px;margin-top: -15px;float: right;margin-bottom: 20px;margin-right: -28px;clear: right;">
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="10000">
                      <img src="media\first\result1.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                      <img src="media\first\result2.PNG" class="d-block w-100" alt="...">
                    </div>

                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
                <p style="position: absolute;margin-right: 560px;margin-left: 0px;">There’s a result section via which the parents can get the progress report of their kids so that they don’t have to bother going to the school to see the results.  Parents can only see their respective childrens result.</p>
                </div>














      </main>






</html>
{% endblock %}