<!DOCTYPE html>
{% extends "base.html" %}
{% block base1 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>

<body>
    <div class="jumbotron">

        <iframe src=https://docs.google.com/spreadsheets/d/e/2PACX-1vSDOgl2kfSDsz5GPnNUBmA4fOFpmaMMXNH-mbACBaN5EmBmChb8h_47U4b92Yoq3owsxZGd2evtF-4n/pubhtml width = 1500 height = 1500>

        </iframe>
    </div>
</body>

</html>
{% endblock %}





</body>

</html>