{% extends "base.html" %}
{% block base1 %}

<html lang="en">

    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers</title>
    
        <!-- Google Fonts
    ============================================= -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
    <link rel="stylesheet" type="text/css" href="{% static 'first1.css' %}">
        
    <link rel="stylesheet" type="text/css" href="{% static 'dev.css' %}">
    




</head>
<body>
    
    <div  id="main-wrapper">
        <section id="content">
            <div class="grey-background wow fadeIn">
                <div class="container">
                    <div class="heading-block page-title wow fadeInUp">
                        <h1>Developers</h1>
                    </div>
                </div>
            </div>

            <div class="devs">
                <div class="container">
                    <div class="row">
                        <!-- Nav Tabs -->
                        <div class="developer-nav wow fadeInUp" role="tablist" id="planTabs">
                            <ul class="no-margin no-padding">
                                <li role="presentation" class="col-md-3 active">
                                    <a href="#sabinthapa" aria-controls="sabinthapa" role="tab" data-toggle="tab">
                                        <img src="/media/first/p1.png" alt="" style="width: 300px; height: 410px;"/>
                                    </a>
                                </li>

                                <li role="presentation" class="col-md-3 active">
                                    <li role="presentation" class="col-md-3 " >
                                    <a href="#sajanmahat" aria-controls="sajanmahat" role="tab" data-toggle="tab">
                                        <img src="/media/first/p2.png" alt=""  style="width: 300px; height: 400px;"/>
                                    </a>
                                </li>

                                <li role="presentation" class="col-md-3 active">
                                    <li role="presentation" class="col-md-3 ">
                                    <a href="#nripeshkarmacharya" aria-controls="nripeshkarmacharya" role="tab" data-toggle="tab">
                                        <img src="/media/first/p3.png" alt="" style="width: 300px; height: 400px;" />
                                    </a>
                                </li>

                                <li role="presentation" class="col-md-3 active">
                                    <li role="presentation" class="col-md-3 ">
                                    <a href="#rojanuprety" aria-controls="rojanuprety" role="tab" data-toggle="tab">
                                        <img src="/media/first/p4.png" alt="" style="width: 300px; height: 430px;" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav Tabs End -->
                    </div>






                       <!-- Tab panes -->
                       <div role="tabpanel" class="developer-desc fade in active" id="sabinthapa">
                        <div class="heading-block clearfix">
                            <h3>Sabin Thapa</h3>
                            <p class="position">Senior Developer</p>
                        </div>

                        <div class="row">
                            <!-- Section 1 Start -->
                            <div class="section-1 wow fadeIn clearfix">
                                <div class="col-md-4">
                                    <div class="developer-photo">
                                        <img src="/media/first/p1.png" alt="" style="width: 400px; height: 550px;"/>
                                        <div class="social-links">
                                            <ul class="no-padding">
                                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="heading-block clearfix">
                                        <h4>About</h4>
                                    </div>
                                    <p>Sed ut perspiciatiytttttttyhfgs unde omnis iste natus error sit voluptatem accusantium doloremque lada tum, totam rem aperiam,</p>
                                    <p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit vluptatem accusantium doloremque lada tum, totam rem aperam, eaque ipsa quae ab illo inventore verttis et quasi architecto beatae vitae dicta sunt excabo. accusantium doloremque lada tum, totam rem aperam.</p>
                                    <br>
                                    <br>
                                </div>

                                <div class="col-md-4">
                                    <div class="heading-block clearfix">
                                        <h4>My Skills</h4>
                                    </div>
                                    <div class="u-center">
                                        <section class="skills">
                                            <div class="skill">
                                            <h3 class="skill__type">HTML</h3>
                                                <div class="skill__outer-bar">
                                                    <div class="skill__inner-bar skill__inner-bar--100">


                                                    </div>

                                                </div>
                                            </div>



                                            <div class="skill">
                                                    <h3 class="skill__type">CSS</h3>
                                                        <div class="skill__outer-bar">
                                                            <div class="skill__inner-bar skill__inner-bar--80">


                                                            </div>
                                                            </div>
                                                    </div>

                                                        <div class="skill">
                                                        <h3 class="skill__type">JS</h3>
                                                            <div class="skill__outer-bar">
                                                                <div class="skill__inner-bar skill__inner-bar--70">


                                                                </div>

                                                            </div>
                                                        </div>

                                                            <div class="skill">
                                                            <h3 class="skill__type">PYTHON</h3>
                                                                <div class="skill__outer-bar">
                                                                    <div class="skill__inner-bar skill__inner-bar--75">


                                                                    </div>

                                                                </div>
                                                            </div>

                                        </section>
                                        </div>
                                </div>

                            </div>
                            <!-- Section 1 End -->

                        </div>
                    </div>






                    
                    <div role="tabpanel" class="developer-desc fade in active" id="sajanmahat">
                        <div class="heading-block clearfix">
                            <h3>Sajan Mahat</h3>
                            <p class="position">Senior Developer</p>
                        </div>

                        <div class="row">
                            <!-- Section 1 Start -->
                            <div class="section-1 wow fadeIn clearfix">
                                <div class="col-md-4">
                                    <div class="developer-photo">
                                        <img src="/media/first/p2.png" alt="" style="width: 400px; height: 570px;" />
                                        <div class="social-links">
                                            <ul class="no-padding">
                                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="heading-block clearfix">
                                        <h4>About</h4>
                                    </div>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lada tum, totam rem aperiam,</p>
                                    <p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit vluptatem accusantium doloremque lada tum, totam rem aperam, eaque ipsa quae ab illo inventore verttis et quasi architecto beatae vitae dicta sunt excabo. accusantium doloremque lada tum, totam rem aperam.</p>
                                
                                <br>
                                <br>
                                </div>
                                <div class="col-md-4">
                                    <div class="heading-block clearfix">
                                        <h4>My Skills</h4>
                                    </div>
                                    <div class="u-center">
                                        <section class="skills">
                                            <div class="skill">
                                            <h3 class="skill__type">HTML</h3>
                                                <div class="skill__outer-bar">
                                                    <div class="skill__inner-bar skill__inner-bar--100">


                                                    </div>

                                                </div>
                                            </div>



                                            <div class="skill">
                                                    <h3 class="skill__type">CSS</h3>
                                                        <div class="skill__outer-bar">
                                                            <div class="skill__inner-bar skill__inner-bar--80">


                                                            </div>
                                                            </div>
                                                    </div>

                                                        <div class="skill">
                                                        <h3 class="skill__type">JS</h3>
                                                            <div class="skill__outer-bar">
                                                                <div class="skill__inner-bar skill__inner-bar--70">


                                                                </div>

                                                            </div>
                                                        </div>

                                                            <div class="skill">
                                                            <h3 class="skill__type">PYTHON</h3>
                                                                <div class="skill__outer-bar">
                                                                    <div class="skill__inner-bar skill__inner-bar--75">


                                                                    </div>

                                                                </div>
                                                            </div>

                                        </section>
                                        </div>
                                </div>
                            </div>

                            <!-- Section 1 End -->

                        </div>
                    </div>

                    <div role="tabpanel" class="developer-desc fade in active" id="nripeshkarmacharya">
                        <div class= "heading-block clearfix">
                            <h3>nripeshkarmacharya</h3>
                            <p class="position">Senior Developer</p>
                        </div>

                        <div class="row">
                            <!-- Section 1 Start -->
                            <div class="section-1 wow fadeIn clearfix">
                                <div class="col-md-4">
                                    <div class="developer-photo">
                                        <img src="/media/first/p3.png" alt="" style="width: 400px; height: 570px;"/>
                                        <div class="social-links">
                                            <ul class="no-padding">
                                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="heading-block clearfix">
                                        <h4>About</h4>
                                    </div>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lada tum, totam rem aperiam,</p>
                                    <p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit vluptatem accusantium doloremque lada tum, totam rem aperam, eaque ipsa quae ab illo inventore verttis et quasi architecto beatae vitae dicta sunt excabo. accusantium doloremque lada tum, totam rem aperam.</p>
                                
                                
                                    <br>
                                    <br>
                                </div>

                                <div class="col-md-4">
                                    <div class="heading-block clearfix">
                                        <h4>My Skills</h4>
                                    </div>
                                    <div class="u-center">
                                        <section class="skills">
                                            <div class="skill">
                                            <h3 class="skill__type">HTML</h3>
                                                <div class="skill__outer-bar">
                                                    <div class="skill__inner-bar skill__inner-bar--100">


                                                    </div>

                                                </div>
                                            </div>



                                            <div class="skill">
                                                    <h3 class="skill__type">CSS</h3>
                                                        <div class="skill__outer-bar">
                                                            <div class="skill__inner-bar skill__inner-bar--80">


                                                            </div>
                                                            </div>
                                                    </div>

                                                        <div class="skill">
                                                        <h3 class="skill__type">JS</h3>
                                                            <div class="skill__outer-bar">
                                                                <div class="skill__inner-bar skill__inner-bar--70">


                                                                </div>

                                                            </div>
                                                        </div>

                                                            <div class="skill">
                                                            <h3 class="skill__type">PYTHON</h3>
                                                                <div class="skill__outer-bar">
                                                                    <div class="skill__inner-bar skill__inner-bar--75">


                                                                    </div>

                                                                </div>
                                                            </div>

                                        </section>
                                        </div>
                                </div>
                            </div>
                            <!-- Section 1 End -->


                        </div>
                    </div>


                    <div role="tabpanel" class="developer-desc fade in active" id="rojanuprety">
                        <div class="heading-block clearfix">
                            <h3>rojan uprety</h3>
                            <p class="position">Senior Developer</p>
                        </div>

                        <div class="row">
                            <!-- Section 1 Start -->
                            <div class="section-1 wow fadeIn clearfix">
                                <div class="col-md-4">
                                    <div class="developer-photo">
                                        <img src="/media/first/p4.png" alt="" style="width: 400px; height: 570px;" />
                                        <div class="social-links">
                                            <ul class="no-padding">
                                                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="heading-block clearfix">
                                        <h4>About</h4>
                                    </div>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lada tum, totam rem aperiam,</p>
                                    <p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit vluptatem accusantium doloremque lada tum, totam rem aperam, eaque ipsa quae ab illo inventore verttis et quasi architecto beatae vitae dicta sunt excabo. accusantium doloremque lada tum, totam rem aperam.</p>
                                
                                    <br>
                                    <br>
                                </div>

                                <div class="col-md-4">
                                    <div class="heading-block clearfix">
                                        <h4>My Skills</h4>
                                    </div>
                                    <div class="u-center">
                                        <section class="skills">
                                            <div class="skill">
                                            <h3 class="skill__type">HTML</h3>
                                                <div class="skill__outer-bar">
                                                    <div class="skill__inner-bar skill__inner-bar--100">


                                                    </div>

                                                </div>
                                            </div>



                                            <div class="skill">
                                                    <h3 class="skill__type">CSS</h3>
                                                        <div class="skill__outer-bar">
                                                            <div class="skill__inner-bar skill__inner-bar--80">


                                                            </div>
                                                            </div>
                                                    </div>

                                                        <div class="skill">
                                                        <h3 class="skill__type">JS</h3>
                                                            <div class="skill__outer-bar">
                                                                <div class="skill__inner-bar skill__inner-bar--70">


                                                                </div>

                                                            </div>
                                                        </div>

                                                            <div class="skill">
                                                            <h3 class="skill__type">PYTHON</h3>
                                                                <div class="skill__outer-bar">
                                                                    <div class="skill__inner-bar skill__inner-bar--75">


                                                                    </div>

                                                                </div>
                                                            </div>

                                        </section>
                                        </div>
                                </div>
                            </div>
                            <!-- Section 1 End -->


                            <!-- Section 2 End -->
                        </div>
                        </div>
                        </div>           
            </div>





               <!-- BANNER SECTION START
            ============================================= -->
            <div class="banner small wow fadeIn">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 pull-left wow fadeInUp">
                            <h3>Want us to build a website for you?</h3>
                        </div>

                        <div class="col-md-4 wow fadeInUp">
                            <div class="button-normal white pull-right">
                                <a href="#" class="no-margin">Contact us now!</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <!-- BANNER SECTION END -->



                   <!-- TESTIMONIAL SECTION START
            ============================================= -->
            <div class="testimonial with-bg-image"  >
                <div class="container">
                    <div class="row">
                        <div class="testimonial-wrap text-center wow fadeIn">
                            <div class="testimonial-item flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="review">
                                            <p class="text">“I think a website like Kinder makes it easy for the parents to get real time updates of their kids.”</p>
                                            <h5 class="title">Sabin Thapa</h5>
                                            <h6 class="position">Developer</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="review">
                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <h5 class="title">Harry Thapa</h5>
                                            <h6 class="position">Kid's Parent</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay dark"></div>
            </div>
            <!-- TESTIMONIAL SECTION END -->
            

            

        </section>
        <!-- CONTENT END -->



        


        <!-- COPYRIGHT START
        ============================================= -->
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <!-- Copyright Text Start -->
                    <div class="copyright-text col-md-6">
                        <p>Copyright 2020 |  All Rights Reserved | KINDER </p>
                    </div>
                    <!-- Copyright Text End -->

                    <!-- Social LInks Start -->
                    <div class="social-links col-md-6">
                        <ul class="no-padding">
                            <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="http://vimeo.com" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="http://dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://rss.com" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                    <!-- Social Links End -->
                </div>
            </div>
        </div>
        <!-- COPYRIGHT END -->

    </div>
<!-- 
        Main wrapper end -->


                   


































                </div>
            </div>
          

        </section>

    </div>




<!-- 
    <script type="text/javascript" src="{% static 'main.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'plugin.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
{% endblock %}
