@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

ul,li{
    list-style: none;
}

h4{
    color: aliceblue;
    font-family: 'Baloo Paaji', cursive;
}

#main-wrapper{
    background-image: linear-gradient(to right , #b92b27, #1565C0);
    padding-bottom: 0px;
}
.page-title{
    color:#ffffff;    
}

#title{
    text-color: #fff;

}
.member-content .social-content li a{
    display:inline-block;
    padding:0;
    min-width:40px;
    height:40px;
    font-size:21px;
    line-height:40px;
    color:#5cc9df;
    border-radius:5px;
    box-shadow:0 3px 0 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content .details {
    margin:20px 0 0 20px;
    position:relative;
    padding:30px;
    padding-left:100px;
    background:#f5f5f5;
    border-radius:10px;
    box-shadow:5px 5px 0 rgba(0,0,0,0.08);
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content {
    margin-bottom:30px;
}

.member-thumb{
    text-align:center;
}

.member-thumb h4{
    font-size:21px;
    margin:10px 0;
}

.member-thumb .title{
    font-size:18px;
    margin:10px 0;
    color:#5CC9DF;
}



.member-content:hover .details {
    background:#1f4037;
    color:#fff;
    
}

.member-content.right .details {
    margin:20px 20px 0 0;
    box-shadow:-5px 5px 0 rgba(0,0,0,0.08);
}

.member-content .details:after {
    display:block;
    content:"";
    position:absolute;
    left:-18px;
    top:30px;
    width:0px;
    height:0px;
    background:transparent;
    border:20px solid transparent;
    border-left:20px solid #f5f5f5;
    box-shadow:-3px 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
    -webkit-transition:border-left-color .3s ease-out;
    transition:border-left-color .3s ease-out;
}

.member-content.right .details:after {
    position:absolute;
    left:auto;
    right:-17px;
    border-left:20px solid transparent;
    border-right:20px solid #f5f5f5;
    box-shadow:3px 0 0 0 rgba(0,0,0,0.08);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-transition:border-right-color .3s ease-out;
    transition:border-right-color .3s ease-out;
}

.member-content:hover .details:after {
    border-left-color:#5CC9DF;
}

.member-content.right:hover .details:after {
    border-left-color:transparent;
    border-right-color:#5CC9DF;
}

.member-content .details:before {
    display:block;
    content:"\201D";
    position:absolute;
    left:20px;
    top:50px;
    font-size:120px;
    font-weight:800;
    line-height:60px;
    font-family:Arial;
    color:#5cc9df;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.member-content:hover .details:before {
    color:#fff;
}

.member-content .social-content {
    list-style:none;
    margin:0;
    padding:0;
}

.member-content .social-content li {
    display:inline;
    text-align:center;
    margin:0 2px;
}

.member-content:hover .social-content li a {
    color:#fff;
}

.member-content .social-content li a:hover{
    background:#fff;
    color:#5cc9df;
    box-shadow:0 3px 0 0 rgba(0,0,0,0.05);
}

/*-----------------------------------------------------------------------------------*/
/*   COPYRIGHT
/*----------------------------------------------------------------------------------*/
#copyright {
    padding: 10px 0;
}

#copyright .social-links ul {
    float: right;
}

#copyright .social-links ul li {
    display: inline-block;
    margin: 0 10px;
}

#copyright .social-links ul li:last-child {
    margin-right: 0;
}

#copyright .social-links ul li a {
    font-size: 16px;
}



/*-----------------------------------------------------------------------------------*/
/*    BANNER
/*-----------------------------------------------------------------------------------*/
.banner {
    background-color:  #0097a7;
}



.banner.small {
    padding-top:  0px;
}

.banner h1,
.banner h3 {
    color: #ffffff;
    margin: 10px 0;
}

#banner {
    background-image: linear-gradient(to right, #8181F7FE, #5882FA);
}

/* Testimonial */
.testimonial p.text:after {
    content: '';
    display: block;
    margin: 30px auto;
    width: 50px;
    border-top: 2px solid #000000;
}



.testimonial.with-bg-image p.text {
    color: #ffffff;

}

.testimonial.with-bg-image p.text:after {
    border-top: 2px solid #ffffff;
}

.testimonial h5.title {
    color: #000000;
    margin-bottom: 5px;
}

.testimonial.with-bg-image h5.title {
    color: #ffffff;
}

.testimonial h6.position {
    color: #000000;
    margin-bottom: 5px;
}

.testimonial.with-bg-image h6.position {
    color: #ffffff;
}

.flex-control-paging li a.flex-active {
    background: transparent !important;
    border: 1px solid #ffffff;
}

.flex-control-paging li a {
    background: #ffffff;
    border: 1px solid #ffffff;
}

.testimonial.with-bg-image{
    background-image: url('/media/first/back.jpg');
    height: 300px;
    width: 100%;
    background-repeat: no repeat;
}
