{% extends "base1.html" %}
{% block base2 %}

{% load static %}


<head>
    <meta charset="UTF-8">
    <title> FOOD </title>
    <link rel="stylesheet" type="text/css" href="{% static "second.css" %}">
    <script src=" {% static 'registerchild.js' %} "></script>

</head>


<div class='jumbotron'>
<center>
    <form method='POST'>
        {% csrf_token %}
        {{ formf.as_p }}
        <div>
            <button class='btn btn-secondary' type='submit'>ADD</button>
        </div>
    </form>
</center>
</div>


{% endblock %}
