{% extends "base1.html" %}
{% block base2 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Student Ids</title>
    <link rel="stylesheet" type="text/css" href="{% static 'second.css' %}">
    <script>

        function disableBtn(id) {
            document.getElementById(id).disabled = true;
            setTimeout(function(){document.getElementById(id).disabled = false;},10000);
        }

        function enableBtn(id) {
            document.getElementById(id).disabled = false;
        }
    </script>
</head>


<body>


<div class="container">
<center>


    <table class="table table-hover" id="mytable">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Roll No.</th>
                <th>Status</th>
                <th>Absent Days Count</th>

            </tr>
        </thead>

        {% for i in students %}

            <tr>
            <td>{{i.full_name}}</td>
            <td>{{i.roll}}</td>

            <td>
            <form>
                <button id="btnp{{i.id}}" class="btn btn-primary" onclick='disableBtn(this.id); enableBtn("btna{{i.id}}")'/>Present</button>&nbsp;
                <button id="btna{{i.id}}" class="btn btn-danger" onclick='disableBtn(this.id); enableBtn("btnp{{i.id}}")'/>Absent</button>&nbsp;
            </form>
            </td>
            <td> 
                {{absentdays.objects.count}} (<small><a href="#">View detail</a></small>)
            </td>

            </tr>

        {% endfor %}
    </table>


</center>
</div>







</body>
</html>
{% endblock %}
