{% extends "base1.html" %}
{% block base2 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Student Ids</title>
    <link rel="stylesheet" type="text/css" href="{% static 'second.css' %}">
    <script>

        function disableBtn(id) {
            document.getElementById(id).disabled = true;
            setTimeout(function(){document.getElementById(id).disabled = false;},10000);

        }

        function enableBtn(id) {
            document.getElementById(id).disabled = false;
        }



    </script>
</head>


<body style="margin-top: 90px;" class="jumbotron">


<div class="container">
<center>


    <table class="table table-hover" id="mytable">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Roll No.</th>
                <th>Present</th>
                <th>Absent</th>
                <th>Absent Days Count</th>

            </tr>
        </thead>
     
        {% for i in students %}

            <tr>
            <td>{{i.full_name}}</td>
            <td>{{i.roll}}</td>

            <td>
                <a class="present-btn btn btn-primary" href='{% url "present" i.id %}'>Present</a>&emsp;
                <small><a href='{% url "presentdecrease" i.id %}'>Undo</a></small>

            </td>
            <td id="CC">
                <a class="absent-btn btn btn-danger" href='{% url "absent" i.id %}' onclick="worker()">Absent</a>&emsp;
                <small><a href='{% url "absentdecrease" i.id %}'>Undo</a></small>

            </td>
            <td>
                {{i.absentdayss}} (<small><a href="{% url 'attendance-detail' i.id %}">View Details</small></a>)


            </td>

            </tr>

            

        {% endfor %}
    </table>


            {% if messages %}
                {% for message in messages %}
                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

                {% endfor %}

            {% endif %}

</center>
</div>



</body>
</html>
{% endblock %}
