{% extends "base1.html" %}
{% block base2 %}

<body class="jumbotron">
<div class="jumbotron">

    <b><p style="font-size:25px;"><img class="rounded-circle account-img" src="{{ events.author.profile.image.url }}" height = "45px", width="45px">
    <h4>{{events.author}}</h4>

    <small class = "text-muted">{{ events.date_posted|date:"F d, Y"}}</small>

    <h1>{{events.title}}</h1>
    
    
    <p><b>{{events.content}}</b></p>

    <br>
    {% if user.user_teachers != '' %}
    <a class='btn btn-secondary' name="createpost" href="{% url 'events-update' object.id %}">Update Event</a>
    <a class='btn btn-outline-danger' name="createpost" href="{% url 'events-delete' object.id %}">Delete Event</a>
    {% endif %}




</div>
</body>
{% endblock %}
