{% extends "base1.html" %}
{% block base2 %}
<div class="jumbotron">
<script>
    var createpost=document.getElementsByName("createpost")
    document.addEventListener('DOMContentLoaded', function(){
        if (document.getElementById("usertype").innerText=='teacher'){
            displays()
        }else{
            displays('none')
        }
    })
    
    function displays(i=''){
        for(j=0;j<createpost.length;j++){
            createpost[j].style.display=i
        }
    }
    </script>
    <div>
    <p id="usertype" style="display:none;">{{user.last_name}}</p>
    <a name="createpost" class='btn btn-secondary' href="{% url 'post-create' %}">Create Post</a>
    </div>
    <br>
    {% for post in posts %}
    <div>
        <div><a href="{% url 'post-detail' post.id %}">
                <h1>{{post.title}}</h1>
            </a>
            <small class = "text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
        </div>
        <h3>{{post.author}}</h3>
        <p><b>{{post.content}}</b></p>
        <br>

    </div>
    {% endfor %}
    <a class='btn btn-outline-danger' href="{% url 'logout' %}">Log Out</a>


</div>

<!-- Navbar Right Side -->

{% endblock %}