{% extends "base1.html" %}
{% block base2 %}
<div class="jumbotron">
    <h1>HOME</h1>
    <br><br>
    <div>
    {% for teacher in teachers %}
    <h1>1</h1>
    {% if teacher.user.username == '{{user.username}}' %}
        <a class='btn btn-secondary' href="{% url 'post-create' %}">Create Post</a>
    {% endif %}
    {% endfor %}
    </div>
    <br>
    {% for post in posts %}
    <div>
        <div><a href="{% url 'post-detail' post.id %}">
                <h1>{{post.title}}</h1>
            </a>
            <small class = "text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
        </div>
        <h2>{{post.author}}</h2>
        <p>{{post.content}}</p>
        <br>

    </div>
    {% endfor %}
    <a class='btn btn-outline-danger' href="{% url 'logout' %}">Log Out</a>


</div>

<!-- Navbar Right Side -->
<div class="navbar-nav">
    {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
    {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
    {% endif %}
  </div>
{% endblock %}