{% extends "base1.html" %}
{% block base2 %}
<div class="jumbotron">

    <b><p style="font-size:25px;"><img class="rounded-circle account-img" src="{{ notice.author.profile.image.url }}" height = "45px", width="45px">
    <h4>{{notice.author}}</h4>

    <small class = "text-muted">{{ notice.date_posted|date:"F d, Y"}}</small>

    <h1>{{notice.title}}</h1>
    
    
    <p><b>{{notice.content}}</b></p>

    <br>
    {% if user.user_teachers != '' %}
    <a class='btn btn-secondary' name="createpost" href="{% url 'notice-update' object.id %}">Update Notice</a>
    <a class='btn btn-outline-danger' name="createpost" href="{% url 'notice-delete' object.id %}">Delete Notice</a>
    {% endif %}




</div>
{% endblock %}
