{% extends "base1.html" %}
{% block base2 %}
<div class="jumbotron">
    <script>
    var createpost=document.getElementsByName("createpost")
    var posts=document.getElementsByName("posts")


    document.addEventListener('DOMContentLoaded', function(){
        for(i=0;i<posts.length;i++){
            if (posts[i].querySelector('span').textContent =='teacher'){
                posts[i].style.display=''
            }else{
                posts[i].style.display='none'
            }
        }
        if (document.getElementById("usertype").innerText=='teacher'){
                displays1()
            }else{
                displays1('none')
            }
    })

    function displays1(i=''){
        for(j=0;j<createpost.length;j++){
            createpost[j].style.display=i
        }
    }
    </script>
    <div>
    <p id="usertype" style="display:none;">{{user.user_teachers.UserType}}</p>
    <div name='posts'>
    <span style="display:none;">{{post.author.user_teachers.UserType}}</span>
        <b><p style="font-size:25px;"><img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" height = "45px", width="45px">
        <a href="{% url 'user-posts' post.author.username %}">{{object.author}}</a></p></b>
        <small class = "text-muted">{{ post.date_posted|date:"F d, Y"}}</small>

        <div><a href="{% url 'post-detail' post.id %}">
                <h1>{{post.title}}</h1>
            </a>
        </div>
        <div>
        </div>
        <p><b>{{post.content}}</b></p>
        <img id='posting' style="width: 650px; height: 500px;padding-top: 20px; padding-bottom: 40px;" src="/media/{{post.photo}}" onerror="this.style.display='none'">

        <br>
    </div>

        <a class='btn btn-secondary' name="createpost" href="{% url 'post-update' object.id %}">Update Post</a>
        <a class='btn btn-outline-danger' name="createpost" href="{% url 'post-delete' object.id %}">Delete Post</a>



    </div>


</div>
{% endblock %}
