{% extends "base1.html" %}
{% block base2 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Ids</title>
    <script src=" {% static 'registerchild.js' %} "></script>

</head>


<body>
<div class="jumbotron">
<center>
    <form method='POST'>
        {% csrf_token %}
        {{ formreg.as_p }}


    <button class='btn btn-secondary' type='submit'>ADD</button>

    </form>
</center>
</div>

<div class="container">
<center>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Roll No.</th>
                <th>Child Id</th>

            </tr>
        </thead>
        {% for ids in stid %}
            <tr>
            <td>{{ids.full_name}}</td>
            <td>{{ids.roll}}</td>
            <td>{{ids.childid}}</td>


            </tr>
        {% endfor %}


    </table>

</center>
</div>
</body>
</html>
{% endblock %}
