<!DOCTYPE html>
{% extends "base1.html" %}
{% block base2 %}
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>

</head>

<body>
<div class="jumbotron">
    <table class="table table-hover" id="myTable" style="width: 70%">
        <thead class="thead thead-dark">

            <tr>
                <td>Name</td>
                <td>Subject-1</td>
                <td>Subject-2</td>
                <td>Subject-3</td>
                <td>Subject-4</td>
                <td>Remarks</td>
            </tr>
        </thead>

        {% for result in results %}


        <tr>
            <td>{{result.name}}</td>
            <td>{{result.subject1}}</td>
            <td>{{result.subject2}}</td>
            <td>{{result.subject3}}</td>
            <td>{{result.subject4}}</td>
            <td>{{result.remarks}}</td>

        </tr>
        {% endfor %}
    </table>
</div>

</body>
<p id="usertype" style="display:none;">{{user.user_teachers.UserType}}</p>
<a class="btn btn-primary" href="{% url 'addresult' %}" style="margin-left: 40px; margin-top: 30px; margin-bottom: 20px;">ADD Result</a>



</html>
{% endblock %}





</body>

</html>