{% extends "base1.html" %}
{% block base2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table,th, td, tr {
        border: 1px solid black;
        border-collapse: collapse;
        }
        #myTable th{
            background-color:#729FCFFF;
        }
    </style>

</head>
<body style="padding-top: 55px;">


<div class="jumbotron">
        <center>
        <button class='btn btn-secondary' onclick="location.href='{% url 'addroutine' %}'" style="margin-left:90%;">ADD</button>
        <br>
        <br>
        <table class="table table-hover" id="myTable" style="width: 70%">
            <thead class="thead-gray">
                <tr>
                    <th>Day</th>
                    <th>10:00-10:45</th>
                    <th>10:45-11:30</th>
                    <th>10:30-11:345</th>
                    <th>11:45-12:30</th>
                    <th>12:30-13:15</th>
                    <th>13:15-14:00</th>
                    <th>14:00-14:45</th>
                    <th>14:45-15:30</th>

                </tr>
            </thead>

            {% for rout in routine %}

                    <tr>
                    <td><b><a href="{% url 'routine-detail' rout.id %}">{{rout.day}}</a></b></td>
                    <td>{{rout.ten_ten45}}</td>
                    <td>{{rout.ten45_eleven30}}</td>
                    <td>Break</td>
                    <td>{{rout.eleven45_twelve30}}</td>
                    <td>{{rout.twelve30_one15}}</td>
                    <td>Lunch</td>
                    <td>{{rout.two_two45}}</td>
                    <td>{{rout.two45_three30}}</td>
                    </tr>

            {% endfor %}


        </table>

        </center>
</div>

</body>
</html>
{% endblock %}
